/* .container {
  padding: 0 2rem;
} */

/* .head_nav {
  width: 100%;
  height: 85px;
  position: fixed;
  background: #24313f;
  top: 0;
}

.head_top {
  width: 100%;
  height: 53px;
  padding: 0 19px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.head_left {
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin-left: 11px;
}

.head_bottom {
  background: rgba(132, 189, 0, 0.5);
  height: 24px;
  width: 100%;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.head_bottom .location_name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 10px;
}

.head_bottom .down_icon {
  color: #fff;
  margin-left: 1rem;
}

.menu_main {
  position: fixed;
  height: calc(100% - 85px);
  background: #24313f;
  width: 90%;
  left: -90%;
  transition: all 0.4s;
  top: 85px;
  color: #fff;
}

.menu_container {
  position: fixed;
  height: calc(100% - 85px);
  background: #24313f;
  width: 90%;
  left: -90%;
  transition: all 0.4s;
  top: 85px;
  color: #fff;
  padding-bottom: 50px;
}

.menu_container .first_class {
  list-style: none;
  margin: 0;
  padding: 24px 16px 0;
}

.menu_container .first_class > li {
  line-height: 50px;
  border-bottom: 1px solid rgba(228, 228, 228, 0.25);
  padding-left: 24px;
  font-size: 18px;
}

.menu_container .anticon_icon {
  margin-right: 16px;
}

.menu_container .all_products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(228, 228, 228, 0.25);
  margin-left: -24px;
  padding-left: 24px;
}

.menu_container .two_class {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -24px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  max-height: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.menu_container .two_class > li {
  padding-left: 40px;
  border-bottom: 1px solid rgba(228, 228, 228, 0.25);
  font-size: 16px;
}

.active {
  color: #c8db04;
}

.footer_menu {
  position: fixed;
  bottom: 20px;
  height: 50px;
  line-height: 50px;
  background: #c8db04;
  width: 90%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding-left: 40px;
} */

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

.head_title {
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  height: 64px;
  margin: 16px 0px;
  padding: 8px 16px;
}

.list_calss ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 232.82px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 16px;
  justify-content: space-between;
}

.list_calss ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 104px;
}

.list_calss ul li .text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  margin: 4px 0;
}

.img {
  width: 74px !important;
  height: 74px !important;
  min-width: auto !important;
}

.our_brands {
  padding-top: 16px;
}

.our_brands .title {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  height: 24px;
}

.our_brands .title span:first-of-type {
  font-size: 20px;
  color: #212529;
}

.our_brands .title span:last-of-type {
  font-size: 16px;
  color: #84bd00;
}

.our_brands .groceries {
  padding: 0 29px;
}

.our_brands .groceries ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.brandcard_box li {
  width: 316px;
  height: 132px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  margin: 8px auto;
}

.featured_products {
  padding-top: 16px;
}

.featured_products .title {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.featured_products .title span:first-of-type {
  font-size: 20px;
  color: #212529;
}

.featured_products .title span:last-of-type {
  font-size: 16px;
  color: #84bd00;
}

.hardware .title {
  display: flex;
  justify-content: space-between;
  height: 24px;
  color: #212529;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-left: 29px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.categories_card .title {
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding-left: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #212529;
  border-bottom: 1px solid #eee;
}
